{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtrar Receitas</title>
    <link rel="stylesheet" href="{% static 'recipe/css/historico.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <nav>
        <div class="content">
            <div class="logo"><a href="#">FlavorFusion</a></div>
            <ul class="links">
                <li><a href="/filter-recipe" id="menu">Menu</a></li>
                <li><a href="#">Perfil</a></li>
                <li><a href="/novareceita" id="adicionar-receita-button">Adicionar Receita</a></li>
                <li><a href="#">Recomendações</a></li>
                <li><a href="/historico" id="historico">Histórico</a></li>
                <li><a href="/" id="sair-button">Sair</a></li>
            </ul>
            <div class="search-icon"><i class="fas fa-search"></i></div>
            <form action="#" class="search-box">
                <input type="text" placeholder="Pesquisar" required>
                <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
            </form>
        </div>
    </nav>
    <div class="recipe-container">
        <div class="recipe">
            <img src="Tasty\flavor_fusion\static\img\318292-original.jpg" alt="Receita 1">
            <div class="recipe-info">
                <p class="recipe-title">Bolo de Chocolate</p>
                <div class="star-rating">
                    <label></label>
                    <label></label>
                    <label></label>
                    <label></label>
                    <label></label>
                </div>
            </div>
        </div>
    
        <div class="recipe">
            <img src="receita2.jpg" alt="Receita 2">
            <div class="recipe-info">
                <p class="recipe-title">Macarrão à carbonara</p>
                <div class="star-rating">
                    <label></label>
                    <label></label>
                    <label></label>
                    <label></label>
                    <label></label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>