{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas</title>
    <link rel="stylesheet" href="{% static 'css/novareceita.css'%}">
</head>
<body>
    <nav>
        <div class="content">
            <div class="logo"><a href="#">FlavorFusion</a></div>
            <ul class="links">
                <li><a href="/filter-recipe" id="menu">Menu</a></li>
                <li><a href="#">Perfil</a></li>
                <li><a href="/novareceita" id="adicionar-receita-button">Adicionar Receita</a></li>
                <li><a href="#">Recomendações</a></li>
                <li><a href="/historico" id="historico">Histórico</a></li>
                <li><a href="/" id="sair-button">Sair</a></li>
            </ul>
            <div class="search-icon"><i class="fas fa-search"></i></div>
            <form action="#" class="search-box">
                <input type="text" placeholder="Pesquisar" required>
                <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
            </form>
        </div>
    </nav>
    <div class="container">
        <h1>Criar Nova Receita</h1>
        <form action="resultado.html" method="get">
            <label for="nome">Nome da Receita:</label>
            <input type="text" id="nome" name="nome" required>
            <label for="ingredientes">Ingredientes:</label>
            <textarea id="ingredientes" name="ingredientes" placeholder="Digite os ingredientes, um por linha." required></textarea>
            <div class="botoes-container">
                <div class="botao">
                    <!-- Botão "Criar Receita" com ID "criar-receita-button" -->
                    <button type="button" id="criar-receita-button">Criar Receita</button>
                </div>
                <div class="botao">
                    <!-- Botão "Cancelar" com ID "cancelar-button" -->
                    <button type="button" id="cancelar-button">Cancelar</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Adicione o código JavaScript abaixo -->
    <script>
        // Selecione o botão "Criar Receita" usando seu ID
        const criarReceitaButton = document.getElementById('criar-receita-button');

        // Adicione um ouvinte de evento de clique ao botão "Criar Receita"
        criarReceitaButton.addEventListener('click', function() {
            // Redirecione para a página "filtrarreceita.html" quando o botão for clicado
            window.location.href = '/filter-recipe';
        });

        // Selecione o botão "Cancelar" usando seu ID
        const cancelarButton = document.getElementById('cancelar-button');

        // Adicione um ouvinte de evento de clique ao botão "Cancelar"
        cancelarButton.addEventListener('click', function() {
            // Redirecione para a página "filtrarreceita.html" quando o botão for clicado
            window.location.href = '/filter-recipe';
        });
    </script>
</body>
</html>