{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/perfil.css'%}">
    <title>Perfil</title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="content">
                <div class="logo"><a href="#">FlavorFusion</a></div>
                <ul class="links">
                    <li><a href="/filter-recipe" id="menu">Menu</a></li>
                <li><a href="#">Perfil</a></li>
                <li><a href="/novareceita" id="adicionar-receita-button">Adicionar Receita</a></li>
                <li><a href="#">Recomendações</a></li>
                <li><a href="/historico" id="historico">Histórico</a></li>
                <li><a href="/" id="sair-button">Sair</a></li>
                </ul>
                <div class="search-icon"><i class="fas fa-search"></i></div>
                <form action="#" class="search-box"></form>
                <input type="text" placeholder="Pesquisar" required>
                <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
            </div>
        </nav>
    </div>
    <main>
        <header>
            <h1>Perfil de Mariana Medeiros de Barros Correia</h1>
        </header>
        <section class="dados-pessoais">
          <h2>Dados pessoais</h2>
          <p>
            Nome e sobrenome: Mariana Medeiros de Barros Correia
          </p>
          <p>
            Nome de usuário: mari1234
          </p>
          <p>
            Senha: ********
          </p>
        </section>
        <section class="preferencias-culinarias">
          <h2>Preferências culinárias</h2>
          <ul>
            <li>Francesa</li>
            <li>Mexicana</li>
            <li>Japonesa</li>
            <li>Tailandesa</li>
            <li>Chinesa</li>
            <li>Grega</li>
            <li>Italiana</li>
            <li>Indiana</li>
            <li>Brasileira</li>
            <li>Americana</li>
            <li>Marroquina</li>
          </ul>
        </section>
        <section class="intolerancias-alergias">
          <h2>Intolerâncias e alergias alimentares</h2>
          <ul>
            <li>Intolerância à lactose</li>
            <li>Alergia à pimenta</li>
            <li>Intolerância à ostra</li>
          </ul>
        </section>
        <section class="alterar-conta">
          <a href="#">Alterar conta</a>
        </section>
      </main>
</body>
</html>