{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flavor Fusion</title>
    <link rel="stylesheet" href="{% static 'css/recomendacoes.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <div class="content">
          <div class="logo">
            <a href="/filter-recipe">FlavorFusion</a>
          </div>
          <ul class="links">
            <li>
              <a href="/filter-recipe" id="menu">Menu</a>
            </li>
            <li>
              <a href="/perfil">Perfil</a>
            </li>
            <li>
              <a href="/novareceita" id="adicionar-receita-button">Adicionar Receita</a>
            </li>
            <li>
              <a href="/recomendacoes">Recomendações</a>
            </li>
            <li>
              <a href="/historico" id="historico">Histórico</a>
            </li>
            <li>
              <a href="/" id="sair-button">Sair</a>
            </li>
          </ul>
          <div class="search-icon">
            <i class="fas fa-search"></i>
          </div>
          <form action="#" class="search-box"></form>
          <input type="text" placeholder="Pesquisar" required />
          <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </div>
      </nav>
    </div>
  </body>
</html>
