@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.menu-filtros{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 9px 15px;
    max-width: calc(100% - 200px);
    
   
}

.menu-container {
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0.9rem 1.5rem;
}


.menu-input-box {
    text-decoration: none;
    margin: 3rem;
    max-width: calc(100% - 200px);
}

.menu-input-box label {
}

.menu-button{
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    
}
.menu-button button:hover {
    background-color: #51AB9F;
} 