@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para centralizar .recipe */
.hist-recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hist-recipe {
    display: flex;
    margin-bottom: 20px;
}

.hist-recipe img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.hist-recipe-info {
    flex: 1;
}

.hist-recipe-title {
    font-weight: bold;
}

.hist-star-rating {
    display: flex;
}

.hist-star-rating label {
    font-size: 25px;
    cursor: pointer;
}

.hist-star-rating label::before {
    content: "\2605";
    color: #ffcc00; /* Estrelas preenchidas em amarelo */
}