@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para a classe 'wrapper' */
.wrapper {
    background: #171c24;
    position: fixed;
    width: 100%;
}

/* Estilos para a navegação dentro da classe 'wrapper' */
.wrapper nav {
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    justify-content: space-between;
}

/* Estilos para o conteúdo da navegação */
nav .content {
    display: flex;
    align-items: center;
}

/* Estilos para o logotipo na classe 'content' */
.content .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

/* Estilos para a lista de links na classe 'links' */
.content .links {
    margin-left: 80px;
    display: flex;
    list-style: none;
}

/* Estilos para os itens de lista de links */
.content .links li {
    margin-right: 10px; /* Adicionado espaçamento entre os itens */
}

/* Estilos para os links na lista */
.content .links li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Estilos de hover para os links */
.content .links li a:hover {
    background: #323c4e;
}

/* Estilos para o ícone de pesquisa */
.wrapper .search-icon {
    color: #fff;
    padding: 9px 17px;
    border-radius: 5px;
}

/* Estilos para centralizar .recipe */
.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.recipe {
    display: flex;
    margin-bottom: 20px;
}

.recipe img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.recipe-info {
    flex: 1;
}

.recipe-title {
    font-weight: bold;
}

.star-rating {
    display: flex;
}

.star-rating label {
    font-size: 25px;
    cursor: pointer;
}

.star-rating label::before {
    content: "\2605";
    color: #ffcc00; /* Estrelas preenchidas em amarelo */
}