@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login_form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos específicos para a página de login */
.login_form h2 {
  font-size: 1.5rem;
}

/* Estilos para o botão "Registrar-se" */
#registrar-se-button {
  background-color: #28a745;
}

/* Adicione mais estilos conforme necessário */
