{% load static%}
<div class="nav-wrapper">
    <nav>
        <div class="nav-content">
            <div class="nav-logo"><a href="/filter-recipe">FlavorFusion</a></div>
            <ul class="nav-links">
                <li><a href="/filtrarreceita" id="menu">Menu</a></li>
                <li><a href="/perfil">Perfil</a></li>
                <li><a href="/novareceita" id="adicionar-receita-button">Adicionar Receita</a></li>
                <li><a href="/recomendacoes">Recomendações</a></li>
                <li><a href="/historico" id="historico">Histórico</a></li>
                <li><a href="/favoritados" id="favoritos">Favoritos</a></li>
                <li><a href="/" id="sair-button">Sair</a></li>
                <li><a href="/atualizacoes" id="notificações"><i class="bi bi-bell"></i></a></li>
            </ul>
            <div class="nav-search-icon"><i class="fas fa-search"></i></div>
            <form action="#" class="nav-search-box" ></form>
                <input type="text" placeholder="Pesquisar" required>
                <button type="submit" class="go-icon"><i class="bi bi-search-heart"></i></button>
    </nav>
</div>