{% load static %}
{% include "recipe/partials/head.html" %}
<body>
    {% include 'recipe/partials/navbar.html' %}
    <main class='att-main'>
        <section>
            <h2>a melhor receita de bolo de chocolate</h2>
            <img src="este computador/imagens/capturas de tela/bolo.jpg" alt="Descrição da Imagem">
            <p>Fofinho, prático, rápido e delicioso: 
                essa é realmente a melhor receita de bolo de chocolate do mundo!
            veja como fazer esse bolo incrível...</p>
            <p>(estrelas de avaliação) 3795 visualizações</p>
        </section>

        <section>
            <h2>Macarrão à carbonara</h2>
            <img src="este computador/imagens/capturas de tela/macarrao.jpg" alt="Descrição da Imagem">
            <p>Um prato tradicional! italiano na sua mesa: essa receita de macarrão à
                carbonara é um absurdo de gostosa! não há como resistir a essa combinação...</p>
            <p>(estrelas de avaliação) 418 visualizações</p>    
            </section>
    </main>
</body>