{% load static %}
{% include 'recipe/partials/head.html' %}
<body>
  {% include 'recipe/partials/navbar.html' %}
  <main>
    <section>
      <h2>Panqueca Americana</h2>
      <img src="este computador/imagens/capturas de tela/panqueca.jpg" alt="Descrição da Imagem" />
      <p>Confira essa receita de panqueca americana deliciosa. Uma das comidas mais comuns no breakfast, o café da manhã dos Estados Unidos, ela é muito versátil...</p>
      <p>(estrelas de avaliação) 1499 visualizações</p>
    </section>

    <section>
      <h2>Macarrão à carbonara</h2>
      <img src="este computador/imagens/capturas de tela/macarrao.jpg" alt="Descrição da Imagem" />
      <p>Um prato tradicional! italiano na sua mesa: essa receita de macarrão à carbonara é um absurdo de gostosa! não há como resistir a essa combinação...</p>
      <p>(estrelas de avaliação) 418 visualizações</p>
    </section>
    <section>
      <h3>Molho Pesto</h3>
      <img src="este computador/imagens/capturas de tela/pesto.jpg" alt="Descrição da Imagem" />
      <p>O molho pesto é um molho de origem italiana feito à base de folhas de manjericão muito utilizado no preparo de massas. Sabia que ele é bem...</p>
      <p>(estrelas da avaliação) 133 avaliações</p>
    </section>
  </main>
</body>
