<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de Favoritos de Receitas">
    <link rel="stylesheet" href="favoritos.css">
    <title>Favoritos de Receitas</title>
</head>
<body>
  <header>
    <div class="nav-wrapper">
        <nav>
            <div class="nav-content">
                <div class="nav-logo"><a href="/filter-recipe">FlavorFusion</a></div>
                <ul class="nav-links">
                    <li><a href="/filtrarreceita" id="menu">Menu</a></li>
                    <li><a href="/perfil">Perfil</a></li>
                    <li><a href="/novareceita" id="adicionar-receita-button">Adicionar Receita</a></li>
                    <li><a href="/recomendacoes">Recomendações</a></li>
                    <li><a href="/historico" id="historico">Histórico</a></li>
                    <li><a href="#" id="favoritos">Favoritos</a></li>
                    <li><a href="/" id="sair-button">Sair</a></li>
                    <li><a href="#" id="notificações"><i class="bi bi-bell"></i></a></li>
                </ul>
                <div class="nav-search-icon"><i class="fas fa-search"></i></div>
                <form action="#" class="nav-search-box">
                    <input type="text" placeholder="Pesquisar" required>
                    <button type="submit" class="go-icon"><i class="bi bi-search-heart"></i></button>
                </form>
            </div>
        </nav>
    </div>
  </header>
  <main>
    <img src="panqueca.jpg" alt="panqueca" class="panqueca">
    <img src="macarrao-favoritos.jpg" alt="macarrão" class="macarrao-favoritos">
    <img src="molho-pesto-favoritos.jpg" alt="molho-pesto-favoritos" class="molho-pesto-favoritos">
    <h1>Favoritados</h1>
    <section id="favoritos">
      <ul>
        <li>
          <a href="#">
            <h3>Panqueca americana</h3>
            <p>Essa receita de panqueca americana é deliciosa! Uma das comidas mais populares para o café da manhã nos Estados Unidos, ela é muito versátil.</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h3>Macarrão à carbonara</h3>
            <p>Este prato tradicional italiano é um absurdo de gostoso! Como resistir à combinação de macarrão, bacon, queijo e ovos?</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h3>Molho Pesto</h3>
            <p>O molho pesto é um molho italiano clássico que é muito fácil de fazer. Basta usar folhas de manjericão fresco, azeite de oliva, nozes e queijo parmesão.</p>
          </a>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    <p>Copyright © 2023</p>
  </footer>
</body>
</html>
