{% load static %}
{% include 'recipe/partials/head.html' %}
<body>
  {% include 'recipe/partials/navbar.html'%}
  <header>Configurações de perfil</header>
  <div class="perfil-main-container">
        <section class="perfil-container">
            <header>Perfil</header>
            <form class="perfil-form" action="processar_cadastro.php" method="POST">
                <div class="perfil-column1">
                    <div class="perfil-input-box">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" placeholder="{{firstName}}" required>
                    </div>
                    <div class="perfil-input-box">
                        <label for="sobrenome">Sobrenome</label>
                        <input type="text" id="sobrenome" name="sobrenome" placeholder="{{lastName}}" required>
                    </div>
                </div>
                <div class="perfil-column2">
                    <div class="perfil-input-box">
                        <label for="username">Nome de usuário</label>
                        <input type="text" id="username" name="username" placeholder="{{usuario}}" required>
                    </div>
                    <div class="perfil-input-box">
                        <label for="senha">Senha</label>
                        <input type="password" id="senha" name="senha" placeholder="**********" required>
                    </div>
                </div>
    
                <div class="perfil-container1">
                    <h3>Selecione suas culinárias preferidas:</h3>
                    <div class="perfil-column3">
                        <label><input type="checkbox" name="culinaria[]" value="francesa"> Francesa</label>
                        <label><input type="checkbox" name="culinaria[]" value="japonesa"> Japonesa</label>
                        <label><input type="checkbox" name="culinaria[]" value="chinesa"> Chinesa</label>
                        <label><input type="checkbox" name="culinaria[]" value="italiana"> Italiana</label>
                        <label><input type="checkbox" name="culinaria[]" value="indiana"> Indiana</label>
                    </div>
                    <div class="perfil-column4">
                        <label><input type="checkbox" name="culinaria[]" value="mexicana"> Mexicana</label>
                        <label><input type="checkbox" name="culinaria[]" value="tailandesa"> Tailandesa</label>
                        <label><input type="checkbox" name="culinaria[]" value="grega"> Grega</label>
                        <label><input type="checkbox" name="culinaria[]" value="brasileira"> Brasileira</label>
                        <label><input type="checkbox" name="culinaria[]" value="marroquina"> Marroquina</label>
                        <label><input type="checkbox" id="select-all" value="todas"> Selecionar Todas</label>
                    </div>
                </div>    
    
                <div class="botoes-container">
                    <div class="perfil-botao">
                        <!-- Botão "Criar Conta" com ID "criar-conta-button" -->
                        <button type="button" id="criar-conta-button"><a href="/filter-recipe">Fazer alterações</a></button>
                    </div>
                    <div class="perfil-botao">
                        <!-- Botão "Cancelar" com ID "cancelar-button" -->
                        <button type="button" id="cancelar-button"><a href="/">Cancelar</a></button>
                    </div>
                </div>
            </form>
        </section>
    </div>    
        
</body>
</html>
