{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flavor Fusion</title>
    <link rel="stylesheet" href="{% static 'css/pages/recomendacoes.css' %}" />
    <link rel="stylesheet" href="{% static 'css/partials/navbar.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    {% include 'recipe/partials/navbar.html'%}
  </body>
</html>
